body,html{
    height: 100%;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    overflow: hidden;
    margin: 0;
    background-color: #f7f7f7;
    padding:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Microsoft YaHei, '微软雅黑', sans-serif;
}

.audioTextinput:focus, .audioTextinput:hover {
    border: 0px;
    color: #000000;
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
    line-height: 50px;
    outline: none;
    opacity: 1;
}
.audioTextinput {
    position: fixed;
    left: 25%;
    top: 52%;
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 100;
    text-align: left;
    font-size: 24px;
    line-height: 50px;
    margin: -83px auto 0px auto;
    border: 0px;
    opacity: 1;
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    color: #000000;
    outline: none;
}
.sendSubmitBtn:hover {
    color: #000000;
    outline: none;
    opacity: 1;
    cursor: pointer;
}
.sendSubmitBtn {
    position: fixed;
    right: 23%;
    top: 52%;
    width: 160px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 100;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    margin: -83px auto 0px auto;
    background: transparent;
    border: 0px;
    opacity: 0.4;
    color: #000000;
    outline: none;
    cursor: pointer;
}
.icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
}
.icon-ok:before{content: "\E013";}
.icon-remove:before{content: "\E014";}

.text-echo {
    position: fixed;
    left: 9%;
    top: 38%;
    width: 82%;
    font-weight: 100;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    margin: -120px auto;
    color: #000000;
    opacity: 1;
}

.main-nav{
    z-index: 999999;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 100px;
    height: 32px;
    padding: 0px;
    margin: 0px;
}


ul#memcon-icon{
    z-index:999999;
    position:fixed;
    right:20px;
    top:10px;
    padding:0px;
    margin:0px;
    list-style:none;
}
ul#memcon-icon li{
    width:32px;
    height:39px;
    padding-top:0px;
    margin-top:7px;
    list-style:none;
}

#messagerecorder{
    color:#ffffff;
    position:fixed;
    background:#323232;
    background:rgba(0,0,0,0.9);
    width:82%;
    height:82%;
    padding:15px;
    top:9%;
    left:9%;
    margin-left:0;
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Microsoft YaHei, '微软雅黑', sans-serif;
    font-weight:100;
    display:none;
}
#messagerecordertitle{
    font-size:30px;
    height:72px;
    padding:15px;
    padding-left:18px;
    border-bottom:1px dotted #f7f7f7;
    border-bottom:1px solid rgba(255,255,255,0.5);
    font-weight:100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Microsoft YaHei, '微软雅黑', sans-serif;
}
#messagerecorder ul{
    padding:15px;
    margin:15px;
    overflow-y:scroll;
}
#messagerecorder ul li{
    margin-left:5px;
}
.mra{
    color:#6beece;
}
.mrb{
    color:#ffff80;
}
#messagerecordercloser{
    color:#ffffff;
    color:rgba(255,255,255,0.5);
    position:fixed;
    width:75px;
    height:60px;
    padding:15px;
    top:9%;
    right:9%;
    margin-left:0;
    font-size:30px;
    line-height:48px;
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Microsoft YaHei, '微软雅黑', sans-serif;
    font-weight:100;
}

@media (max-width:767px){
    .text-echo{
        font-size:18px;
        line-height:30px;
        font-weight:100;
    }
    .audioTextinput{
        left:10%;
        width:80%;
        font-size:18px;
        line-height:30px;
        padding-bottom:6px;
        padding-top:6px;
    }
    .audioTextinput:focus,.audioTextinput:hover{
        left:10%;
        width:80%;
        font-size:18px;
        line-height:30px;
        padding-bottom:6px;
        padding-top:6px;
    }
    .sendSubmitBtn{
        right:10%;
        width:60px;
        padding-bottom:5px;
        padding-top:5px;
        padding-left:6px;
        padding-right:6px;
        font-size:24px;
        line-height:30px;
        padding-bottom:6px;
        padding-top:6px;
    }
    .sendSubmitBtn{
        font-size:18px;
    }
}